<h2> Foods</h2>
<p> Total Results: <%= @total_results%>
  <% @foods.each do |food| %>
    <section class="food">
      <p> UPC Code: <%=food.upc%> </p>
      <p> Description: <%=food.description%> </p>
      <p> Brand Owner: <%=food.brand_owner%> </p>
      <p> Ingredients: <%=food.ingredients%></p>
    <%end%>
