<h2> Foods</h2>
<p> Total Results: <%= @foods[:totalHits]%>
  <% @foods[:foods][0..9].each do |food| %>
    <section class="food">
      <p> UPC Code: <%=food[:gtinUpc]%> </p>
      <p> Description: <%=food[:description]%> </p>
      <p> Brand Owner: <%=food[:brandOwner]%> </p>
      <p> Ingredients: <%=food[:ingredients]%></p>
    <%end%>
