<h1>Food Result Page</h1>

<h3>Results:<h3>

Results Count: <%= @foods.count %><br>


<h3>Foods Found In:<h3>
<% @foods.each do |food|%>
  FDC ID: <%= food[:fdcId] %><br>
  Description: <%= food[:description] %><br>
  Brand Owner: <%= food[:brandOwner]  %><br>
  Ingredients: <%= food[:ingredients]  %><br><br><br>

<% end %>