<p>Total Hits: <%= @@food_info.count %></p>

<% @food_info.each do |food| %>
  <section class="foods">
      <h1 class="code">GTIN/UPC code: <%= food.upc %></h1>
      <h1 class="description">Description: <%= food.description %></h1>
      <h3 class="brand_owner">Brand Owner: <%= food.brand_owner %></h3>
      <h3 class="ingredients">Ingredients: <%= food.ingredients %></h3>
  </section>
<% end %>
