<h1>Food Search Results</h1>
<h2>Food Count: <%=@returned_foods.count%></h2>
<% @returned_foods.each do |food| %>
  <ul class='.food_item'>
    <p class='.gtin_upc'><%= food.foodCode%></p>
    <p class='.description'><%= food.description%></p>
    <p class='.brand_owner'><%= food.name %></p>
    <p class='.ingredients'><%= food.name %></p>
  </ul>
<% end %>


    # within(first('.food_item')) do
    #   expect(page).to have_css('.gtin_upc')
    #   expect(page).to have_css('.description')
    #   expect(page).to have_css('.brand_owner')
    #   expect(page).to have_css('.ingredients')
    # end