<h1>RESULTS FOR <%= @info.query %></h1>
Total Results: <%= @info.total_hits %><br><br>

<% @results.each do |result| %>
  <%= result.gtin_upc %><br>
  <%= result.description %><br>
  <%= result.brand_owner %><br>
  <%= result.ingredients %><br>
<% end %>
