<% @foods.each do |food|%>
  <p>Description: <%= food.description %></p>
  <p>Brand Owner: <%= food.brand_owner %></p>
  <p>Ingredients: <%= food.ingredients %></p>
  <p>Code: <%= food.code %></p>
<% end %>
Total: <%= @foods.count %> 