<h1>Foods related to your search:</h1>
<h3><%= @food_count %> Results </h3>
<% @foods.each do |food| %>
  <ul>
    <li> <%= food.upc_code %> </li>
    <ul>
      <li> <%= food.description %> </li>
      <li> <%= food.brand_owner %> </li>
      <li> <%= food.ingredients %> </li>
    </ul>
  </ul>
  <% end %>
