<h1><%= @results.query %></h1>

<h3><%= @results.total_results %> Results:</h3>

<ol>
  <% @results.foods.each do |food| %>
    <li>Brand Owner: <%= food.brand_owner %></li>
    <ul>
      <li>GTIN/UPC: <%= food.gtin_upc %></li>
      <li>Ingredients: <%= food.ingredients %></li>
      <li>Description: <%= food.description %></li>
    </ul> <br>
  <% end %>
</ol>
