<h1>total hits: <%= @total_hits %></h1>


<ul>
  <% @foods.each do |food| %>
  <li>GTIN/UPC code: <%= food.gtin %></li>
  <li>Description: <%= food.description %></li>
  <li>Brand Owner: <%= food.brandowner %></li>
  <li>Ingredients: <%= food.ingredients %></li>
</ul>
