<div class="food_number_results">

    <h3>Number of results: <%= @total_foods %></h3>
  </div>

  <div id="top 10 foods">
    <div class="top 10 food">
      <%# <% @foods.each do |food| %>
        <%# <%= food.upc %> %>
        <%# <%= food.description %> %>
        <%# <%= food.brand %> %>
        <%# <%= food.ingredients %> %>
      <%# <% end %> %> %>
    </div>
  </div>