<h1>Search Results</h1><br>

<h2>Total # of Results: <%= @total_results %></h2>

<% @foods.each do |food| %>
  <div id='food-result-<%= food.id %>' class='food'>
    <ul>
      <h4>Description: <%= food.description.capitalize %></h4>
      <li>GTIN/UPC: <%= food.gtin_upc %></li>
      <li>Brand Owner: <%= food.brand_owner %></li>
      <li>Ingredients: <%= food.ingredients %></li>
    </ul>
  </div><br>
<% end %>
