<h1><%= @results[:foodSearchCriteria][:query].capitalize %></h1>

<h3><%= @results[:totalHits] %> Results:</h3>

<ol>
  <% @results[:foods].each do |food| %>
    <li>Brand Owner: <%= food[:brandOwner] %></li>
    <ul>
      <li>GTIN/UPC: <%= food[:gtinUpc] %></li>
      <li>Ingredients: <%= food[:ingredients].downcase %></li>
      <li>Description: <%= food[:lowercaseDescription] %></li>
    </ul> <br>
  <% end %>
</ol>
