<h1><%=   @search_count %> RESULTS</h1>

<% @foods.each do |food| %>
GtinUpc: <p><%= food.gtinUpc %></p>
Description: <p><%= food.description %></p>
BrandOwner: <p><%= food.brandOwner %></p>
Ingredients: <p><%= food.ingredients %></p>
<% end %>
