Total Foods: <%= @total_foods %>

<h3>Foods:</h3>
<table id='foods'>
  <tr>
    <th>GTIN/UPC</th>
    <th>Description</th>
    <th>Brand Owner</th>
    <th>Ingredients</th>
  </tr>
  <% @foods.each do |food| %>
    <tr id="food-<%= food.fdc_id %>">
      <td><%= food.gtin_upc %></td>
      <td><%= food.description %></td>
      <td><%= food.brand_owner %></td>
      <td><%= food.ingredients %></td>
    </tr>
  <% end %>
</table>
