<p>Total number of items returned: <%= @total_returned %></p>



<% @foods.each do |food| %>
  <div style="border: 5px solid gray">
    <li>GTIN/UPC: <%= food.identifier  %></li>
    <li>Brand Owner: <%= food.brand  %></li>
    <li><%= food.ingredients  %></li>
    <li>Description: <%= food.description  %></li>
  </div>
<% end  %>
