<h1>Search Results</h1><br>

<h2>Total # of Results: <%= @total_results %></h2>

<% @foods.each do |food| %>
  <div id='food-result-<%= food[:fdcId] %>' class='food'>
    <ul>
      <h4>Description: <%= food[:lowercaseDescription].capitalize %></h4>
      <li>GTIN/UPC: <%= food[:gtinUpc] %></li>
      <li>Brand Owner: <%= food[:brandOwner] %></li>
      <li>Ingredients: <%= food[:ingredients] %></li>
    </ul>
  </div>
<% end %>
