<h1>Search Results</h1>

<p>Total Results Found: <%= @results %></p>

<% @foods.each do |food| %>
  <p>
    Description: <%= food.description %>,
    gtinUpc # <%= food.gtinUpc %>,
    Brand Owner: <%= food.brand_owner %>,
    Ingredients: <%= food.ingredients %>
  </p>
<% end %>