<h1>Total search results: <%= @total_results %></h1>


<ul>
  <section class='results'>
    <% @foods.each do |food| %>
    <li>GTIN/UPC code: <%= food.gtin %></li>
    <li>Description: <%= food.description %></li>
    <li>Brand Owner: <%= food.brandowner %></li>
    <li>Ingredients: <%= food.ingredients %></li>
    <hr>
    <% end   %>
  </section>
</ul>
