<h1>Foods related to your search: </h1>
<h3><%= @food_count %> Results </h3>
<% @foods.each do |food| %>
  <ul>
    <li> <%= food.upc_code %> </li>
    <ul>
      <li> Description: <%= food.description %> </li>
      <li> Brand: <%= food.brand_owner %> </li>
        <li> Ingredient(s): <%= food.ingredients %> </li>
    </ul>
  </ul>
  <% end %>
