<h3>Total Items: <%= @total_hits %></h3>

<h3>Top Ten Foods: </h3>

<% if @top_ten.count > 0 %>
  <% @top_ten.each do |food| %>
    <p>GTIN/UPC Code: <%= food.upc %></p>
    <p>Description: <%= food.description %></p>
    <p>Brand Owner: <%= food.brand_owner %></p>
    <p>Ingredients: <%= food.ingredients %></p><br>
  <% end %>
<% else %>
  <p>No results</p>
<% end %>


# Then I should see a total of the number of items returned by the search.
# (sweet potatoes should find more than 30,000 results)
# Then I should see a list of TEN foods that contain the ingredient "sweet potatoes"
# And for each of the foods I should see:
# - The food's GTIN/UPC code
# - The food's description
# - The food's Brand Owner
# - The food's ingredients
