<h1>Results: <%= @food[:totalHits] %> </h1>

<% @food[:foods].first(10).each do |food| %>
<li> <%= food[:description] %> </li>
<ul> <%= food[:gtinUpc] %> </ul>
<ul> <%= food[:brandOwner] %> </ul>
<ul> <%= food[:ingredients] %> </ul>
<% end %>