<h3>Seach Results for <%= @foods[:foodSearchCriteria][:query] %></h3>
<p>Total matching results: <%= @foods[:totalHits] %></p>
<p>Ten foods that contain <%= @foods[:foodSearchCriteria][:query] %> </p>
  <% @foods[:foods].each do |food| %>
  <br>
    <strong> Food </strong>
    GTIN/UPC Code: <%= food[:gtinUpc] %>
    <br>
    Description: <%= food[:description] %>
    <br>
    Brand Owner: <%= food[:brandOwner] %>
    <br>
    Ingredients: <%= food[:ingredients] %>
    <br>
  <% end %>
