<h1>Total Search Results: <%= @count %></h1>

<p><h3>Foods Containing Sweet Potatoes:</h3></p>
<div id="food-item">
<% @results.each do |food_item| %>
  <p>UPC Code: <%= food_item.upc_code %></p>
  <p>Food Name: <%= food_item.name %></p>
  <p>Food Brand: <%= food_item.brand %></p>
  <p>Ingredients Contained in this Item: <%= food_item.ingredients %></p>
</div>
<% end %>
