<h1><%= @results %> Results</h1>
<% @foods.each do |food| %>
  <strong>GTIN/UPC code: <%= food.code %></strong>
  <p>Description: <%= food.description %></p>
  <p>Brand Owner: <%= food.owner %></p>
  <p>Ingredients: <%= food.ingredients %></p>
<% end %>
