<h1>Foods Search Result</h1>

<b>Total items returned: <%%></b>

<h3>Foods containing <%=@query%></h3>
<% @foods.each do |r| %>
<ul>
  <li> Title: <%= "#{@foods_info.title}"%>
  <li> GTIN/UPC code: <%= "#{@foods_info.upc_code}"%>
  <li> Description: <%= "#{@foods_info.description}"%>
  <li> Brand Owner: <%= "#{@foods_info.brand_owner}"%>
  <li> Ingredients: <%= "#{@foods_info.ingredients}"%>
    <%end%>
</ul>