<h1><%= @results[:totalHits] %> Results</h1>
<% @foods.each do |food| %>
  <strong>GTIN/UPC code: <%= food[:gtinUpc] %></strong>
  <p>Description: <%= food[:description] %></p>
  <p>Brand Owner: <%= food[:brandOwner] %></p>
  <p>Ingredients: <%= food[:ingredients] %></p>
<% end %>
