<h1>Foods</h1>

<p>Total Items: <%= @total_hits %></p>

<% @foods.each_with_index do |food, i| %>
  <br/>
  <h3>Food <%= i + 1 %></h3>
  <p>Upc: <%= food.upc_code || 'Not Given' %></p>
  <p>Brand Owner: <%= food.brand_owner || 'Not Given' %></p>
  <p>Description: <%= food.description || 'Not Given' %></p>
  <p>Ingredients:
    <ul>
    <% food.ingredients&.each do |ingredient| %>
      <li><%= ingredient %></li>
    <% end %>
    </ul>
  </p>
<% end %>
