<h1>Total Number of Items Found <%= @total_hits %></h1>

<h2>Foods Found</h2>
<% @foods.map do |food| %>
<h3>UPC: <%= food.upc %></h3>
<li>Description: <%= food.description %></li>
<li>Brand Owner: <%= food.brand_owner %></li>
<li>Ingredients: <%= food.ingredients %></li>
<% end %>