Total search results: <%= @total_results %><br><br>

TEN food that contain <%= @searched_ingredient %>:
<div class="ten-foods">
  <ol>
    <% @foods.each do |food| %>
      <li id="food-#{food.id}">
           GTIN/UPC code: <%= food.gtin_upc_code %><br>
           Description: <%= food.description %><br>
           Brand Owner: <%= food.brand_owner %><br>
           Ingredients: <%= food.ingredients %></li><br>
    <% end %>
  </ol>
</div>
