<h1> Matching Foods </h1>
<p>Total Matches: <%=@total_count%></p>
<% @foods.each do |food| %>
<ul><li><b><%= food.description %></b></li><ul>
<li><%= food.upc_code %></li>
<li><%= food.brand_owner %></li>
<li><%= food.ingredients %></li>
</ul>
</ul>
<% end %>