<h1>Search Results</h1>
<div id="total-hits">
  <h1>Total Hits: <%= @results[:hits] %></h1>
</div>

<div id="top-10-foods">
  <% @results[:foods].each do |food| %>
    <h2>GTIN UPC: <%= food.gtinUpc %></h2>
    <p>Description: <%= food.description %></p>
    <p>Brand Owner: <%= food.brandOwner %></p>
    <p>Ingredients: <%= food.ingredients %></p>
  <% end %>
</div>