<h1>Foods</h1>

<section>
  Number of search results: <%= @foods[:totalHits] %><br>
  <% @foods[:foods].each do |food| %>
    <section id="food-<%= food[:fdcId] %>">
      GTIN/UPC: <%= food[:gtinUpc] %><br>
      Description: <%= food[:description] %><br>
      Brand Owner: <%= food[:brandOwner] %><br>
      Ingredients: <%= food[:ingredients] %><br><br>
    </section>
  <% end %>
</section>