<% if @food.present? %>
<h1>Total results found for <%= @food %>: <%= @foods.first.total_count %></h1>
<ul>
  <% @foods.each do |food| %>
  <li>GTIN/UPC: <%= food.code %></li>
  <li>Description: <%= food.description %></li>
  <li>Brand Owner: <%= food.brand %></li>
  <li>Ingredients: <%= food.ingredients %></li>
  <% end %>
</ul>
<% end %>
