<h1> Number of results: <%= @results[:totalHits] %> </h1>

<% @results[:foods].each do |food| %>
  <p> GTIN/UPC: <%= food[:gtinUpc] %>
  <p> Description: <%= food[:description] %>
  <p> Brand Owner: <%= food[:brandOwner] %>
  <p> Ingredients: <%= food[:ingredients] %>
<% end %>