<p>Total results: <%= @results.total_results %></p>

<ul>
  <% @results.foods.each do |food| %>
    <li><%= food.id %>
    <%= food.description %>
    <%= food.owner %>
    <%= food.ingredients %></li>
  <% end %>
</ul>
